.env

/tmp
/log/api_debug.log
/log/batch_debug.log
/static/images

/docker/db_user/sql
/docker/db_user/data
/docker/db_master/sql
/docker/db_master/data
/docker/test_db_user/sql
/docker/test_db_user/data
/docker/test_db_master/sql
/docker/test_db_master/data